{% extends "layout.html" %}
{% block body %}
<style>
.tab li em {
    cursor: pointer;
}
.fa-search {
    cursor: pointer;
}
</style>
<header class="site-header">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                Experiments visualization
            </h1>
        </div>
    </div>
</header>
<main class="packages-list-container" id="all-packages">

    <a class="btn btn-default" href="http://127.0.0.1:9003">tensorboard real time monitor</a>
    <a class="btn btn-default" href="/view.html">keep track of experiments results</a>
    <a class="btn btn-default" href="/new_view.html">new results show</a>

</main>
<script src="//cdn.bootcss.com/jquery.form/4.2.1/jquery.form.min.js"></script>
<script src="https://cdn.bootcss.com/plotly.js/1.38.0/plotly.min.js"></script>
<script src="/static/js/index.js?v={{version}}"></script>
{% endblock %}
