{% extends "layout.html" %}
{% block body %}
<style>
.tab li em {
    cursor: pointer;
}
.fa-search {
    cursor: pointer;
}
</style>
<header class="site-header">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                LSTM DEBUG
            </h1>
        </div>
    </div>
</header>
<main class="packages-list-container" id="all-packages">

<button onclick="$('#main-container').empty()">clear</button>
<form class="uploadLog" method="post" enctype="multipart/form-data">
<input id="FileUpload" name="log" type="file" onchange="selectFile(this)">
<input type="file" id="FolderUpload" onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
</form>

<div id="tester" style="width:90%;height:250px;">
    
</div>

<div class="container-fluid" id="index-container">

</div>
<div class="container-fluid" id="main-container">

</div>
</main>
<script src="//cdn.bootcss.com/jquery.form/4.2.1/jquery.form.min.js"></script>
<script src="https://cdn.bootcss.com/plotly.js/1.38.0/plotly.min.js"></script>
<script src="/static/js/index.js?v={{version}}"></script>
{% endblock %}
