{% extends "layout.html" %}
{% block body %}
    <style>
        .vis_sidebar {
            border-right: 0.5px solid;
        }
        .vis_canvas {
            border: 1px;
        }
    </style>
    <script>
        
    </script>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/index.js"></script>
    <script src="/static/js/view.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div style="height: 100%; padding: 0;">
        <div style="height: 100%; padding: 20px 0;" class="col-xs-3 vis_sidebar dir_list">
            <div>
                file:
            </div>
            <hr>
            <div>
                directory:
            </div>
            <div id="sub_dirs">

            </div>
        </div>
        <div style="padding: 20px 0;" class="col-xs-8 vis_canvas">
            <div class="processes">

            </div>
            <div style="height: 100%;" class="canvas">
            </div>
        </div>
    </div>
    <script>
        realtime_query();
        // setInterval("realtime_query()",1000);
    </script>
{% endblock %}

